.comment {
    padding: 1em;
    background: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
h2 {
    font-size: 20px;
    font-weight: bold;
}
h2::first-letter {
    text-transform: capitalize;
}
.body-comment::first-letter {
    text-transform: capitalize;
}
