*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
    height: 100vh;
    background-image: url("/public/image/courses-container-background.jpg");
    background-size: cover;
    background-position: center;
}
